.job-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: rgb(0, 100, 0);
    // background-color: rgb(139,0,0); // dark red
    // background-color: rgb(245, 148, 0); // orange
}

.job-card h2 {
    margin-top: 0;
}

.source-link a {
    color: #007bff;
}

.job-status {
    margin-top: 8px;
}

.job-status.completed {
    color: green;
}

.job-status.busy_running {
    color: orange;
}

.build-info,
.view,
.stats {
    margin-top: 8px;
}

.stats div {
    margin-top: 4px;
}