<div 
  class="job-card"
  (click)="toggleSelection()"
  (dblclick)="setCardEditMode()"
  [ngClass]="{'selected': isSelected}"
  (dblclick)="openEditModal()"
    >
  
  <!-- Card Title/Header Section -->
  <div class="card-header">
    <h2 class="title">{{ jobCard.label_title }}</h2>
  </div>

  
  <div class="job-status" [ngClass]="jobCard.build?.running_status">
    Status: {{ jobCard.build?.running_status }}
    <span *ngIf="jobCard.build?.completion_result">({{ jobCard.build?.completion_result }})</span>
  </div>
  
  <div class="build-info">
    <div>Build #: {{ jobCard.build?.build_number }}</div>
    <div>Start Time: {{ jobCard.build?.start_time | date:'medium' }}</div>
    <div *ngIf="jobCard.build?.end_time">End Time: {{ jobCard.build?.end_time | date:'medium' }}</div>
  </div>
  

  
</div>
