/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: black;
}


/* Example of customizing Angular Material form fields in styles.scss or your component's scss */
.mat-form-field {
    width: 100%;
    /* Make form fields take full width */
    margin-bottom: 16px;
    /* Add some space below each field */
}

/* Adjust the primary color for buttons */
.mat-raised-button.mat-primary {
    background-color: #007bff;
    color: white;
}