.job-card-edit {
    color: white;
    border: 1px solid #ccc;
    border-style: solid;
    border-color: black;
    border-width: 4 px;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px; // Adjust based on your needs
    background-color: rgb(0, 100, 0);

    &:hover {
        // background-color: #f0f0f0c4; // Hover state
        border-color: rgb(132, 197, 206); // Bright, noticeable color
        // border-width: 4px; // Thicker border for prominence
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            flex-grow: 1;
            font-size: 24px; // Adjust based on your needs
            margin: 0;
        }
    }

    .source-link a {
        color: #007bff;
    }

    .job-status,
    .build-info,
    .view,
    .stats {
        display: none; // Hide additional details for compact view
    }
}


.selected {
    border-color: rgb(72, 148, 247); // Bright, noticeable color
    border-width: 5px; // Thicker border for prominence
}


.actions button {
    margin-left: 8px;
    /* Adds space between edit and delete buttons */
}

.job-card h2 {
    margin-top: 0;

}